/* Fixes a issue with dataset & resource select or multi-select elements not displaying correctly when using the scheming extension */
.select2-container.form-control {
  height: 100%;
  padding: 0;
}

/* Vertical align of repeater row in dataset form for remove item button */
.vertical-align {
  display: flex;
  align-items: center;
}

/* HR in dataset addition info table */
.dataset-details hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* qdes autocomplete styles */
input[data-module="qdes_autocomplete"],
select[data-module="qdes_autocomplete"] {
  width: 100%;
}

.select2-container .select2-search-choice-close {
  left: auto;
}

/* Added recommended field style */
.recommended-field label:after {
  content: " (recommended):";
  color: blue;
}

label.no-colon:after {
  display: none;
}

.label-top-space-md {
  @include breakpoint(md) {
    padding-top: 25px;
  }
}

.media-description, .media-heading, .popover .popover-content {
  word-break: normal;
}

.no-selected-node-tree {
  .title {
    font-size: 14px;
  }
  .text-muted {
    color: $qg-light-grey1;
  }
}