{% ckan_extends %}

{% block heading_title %}
  {{ h.link_to(title|truncate(80), h.url_for('%s.read' % package.type, id=package.name)) }}
  {% if package.type == 'dataservice' %}
    [Data Service]
  {% endif %}
{% endblock %}

{% block resources %}
  {% if package.resources and not hide_resources %}
    {% block resources_outer %}
      <ul class="dataset-resources list-unstyled">
        {% block resources_inner %}
          {% for resource in h.dict_list_reduce(package.resources, 'format') %}
          <li>
            <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="badge badge-default label label-default" data-format="{{ resource.lower() }}">{{ h.return_format_label(resource) }}</a>
          </li>
          {% endfor %}
        {% endblock %}
      </ul>
    {% endblock %}
  {% endif %}
  <ul class="dataset-resources list-unstyled">
  {% if package.temporal_resolution_range %}
      <li><span class="badge badge-default label temporal">{{h.convert_term_uri_to_label(package.type, 'temporal_resolution_range', package.temporal_resolution_range)}}</span></li>
  {% endif %}
  {% if package.spatial_resolution %}
    <li><span class="badge badge-default label temporal">{{h.convert_term_uri_to_label(package.type, 'spatial_resolution', package.spatial_resolution)}}</span></li>
  {% endif %}
  </ul>
{% endblock %}
