$font-size-base-px: 16px;

// Colors
$qg-global-primary: #005e85;
$qg-global-primary-dark: #063652;
$qg-global-primary-darker: #212529;
$qg-global-primary-hover-grey: #cccccc;
$qg-global-primary-dark-grey: #313131;
$qg-global-primary-dark-grey2: #3a3e40;
$qg-global-dark-grey-active: #373737;

$qg-dark-grey-dark: #4a4a4a;
$qg-dark-grey: #585e62;
$qg-dark-grey1: #939393;
$qg-dark-grey2: #464b4e;
$qg-dark-grey3: #404447;

$qg-light-gray: #f6f6f6;

$qg-light-grey: #e9ecef;
$qg-light-grey1: #999999;

$qg-light-green: #9AC02C;
$qg-light-green2: #add33f;

$qg-blue: #007EB1;
$qg-blue1: #00638b;
$qg-blue2: #005a7e;
$qg-blue3: #005171;
$qg-blue-dark: #13578b;
$qg-blue-dark1: #06C;
$qg-blue-dark2: #80b;
$qg-red: #d9534f;
